.du-exercise-screen {
    padding: .5em 0 1.8em;
}
.exercises {
    display: flex;
    flex-direction: column;
}
.exercises .btn:focus, .exercises .btn:active {
   outline: none;
   box-shadow: none;
}
.exercises-header {
    background: #FAFAFA;
    padding: 8px 16px 8px 16px;
    display: flex;
}
.exercises-header > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.exercises-header .heading {
    font-size: 1.3em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.exercises-header .btn-exercises-disclaimer, .exercises-header .btn-exercises-disclaimer:active {
    background-color: #F9CE75;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
}
.exercise-progress {
    display: flex;
    gap: 8px;
    margin-top: -10px;
}
.exercises-header .progress-icons {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.exercises-header .progress-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #CDCBD1;
}
.exercises-header .progress-icon.correct {
    background: #58C0A9;
}
.exercises-header .progress-icon.wrong {
    background: #BE222A;
}
.exercises-header .progress-icon.skipped {
    background: #CDCBD1;
    border: 1px solid #817E8B;
}
.exercises-header .progress-icon.current {
    background: #4D4C53;
}
.exercises-header .progress-text {
    font-size: 14px;
}

.exercises-body {
    padding: 16px;
}
.exercises-body button {
    height: auto;
}
.exercise form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.exercise-instruction {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.exercise-type {
    background: #EFEFEF;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
}
.exercise-task {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.2em;
}
.exercise-task * {
    font-size: 1em !important;
    font-weight: 200 !important;
}
.exercise-task .question {
    font-size: 1.2em !important;
}
.exercise-task .answer-options {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.exercise-task .exercise-btn {
    padding: 8px 10px 8px 10px;
    border: 1px solid #EFEFEF;
    background: white;
    border-radius: .625em;
    text-align: left;
    color: #1A191C;
}
.exercise-task .reading-choice-btn {
    width: 100% !important;
    opacity: 100%;
}
.exercise-task .exercise-btn:hover {
    background: #EFEFEF;
}
.exercise-task .exercise-btn.selected {
    border: 3px solid #817E8B;
}
.exercise-task .exercise-btn.correct {
    background: #BCE6DD;
    border-color: #58C0A9;
}
.exercise-task .exercise-btn.wrong {
    background: #F2D3D4;
    border-color: #BE222A;
}

.exercise-task .word-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.exercise-task .word-list li {
    display: flex;
    justify-content: center;
}
.exercise-task .word-list .word-bank-btn.disabled, .exercise-task .word-list .word-slot-btn.empty {
    span {
        visibility: hidden;
    }
    min-width: 30px;
    background: #EFEFEF;
}
.exercise-task .word-list .word-slot-btn.empty, .exercise-task .word-list .word-btn span {
    pointer-events: none;
}
.exercise-task .word-list .ui-sortable-placeholder {
    width: 5px;
    background: #58C0A9;
    border-radius: 5px;
    visibility: initial !important;
}
.exercise-task .word-list .prefilled-word-slot-btn {
    opacity: 1;
}
.exercise-task .word-list .solution .solution-icon {
    width: 30px;
}

.exercise-controls {
    display: flex;
    gap: 24px;
    margin-bottom: 0;
}
.exercise-controls .btn {
    border-radius: .625em;
    font-size: 15px;
}
.exercise-controls .check-btn, .exercise-controls .try-again-btn {
    flex-grow: 100;
    font-weight: 600;
    background: #F6F6F8;
    border: 1px solid #817E8B;
}
.exercise-controls .skip-btn {
    width: 106px !important;
    background: #EEF9F6;
    border: 1px solid #58C0A9;
}
.exercise-controls .skip-btn:active {
    background: #DEF2EE;
    border: 1px solid #58C0A9;
}
.exercise.state-answered .exercise-controls .check-btn, .exercise.state-checking .exercise-controls .check-btn, .exercise-controls .try-again-btn {
    background: #58C0A9;
    border: none;
    color: #FFFFFF;
}
.exercise.state-checking .exercise-controls .skip-btn {
    display: none;
}
.exercise:not(.state-click-check-without-selection) .select-option-first-text {
    display: none;
}
.exercise:not(.state-checking) .solution {
    display: none;
}
.exercise:not(.correct) .solution.correct, .exercise:not(.wrong) .solution.wrong {
    display: none;
}

.exercise-summary form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.exercise-summary .summary-stats-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.exercise-summary .summary-stats {
    display: flex;
    gap: 18px;
    flex-direction: row;
}
.exercise-summary .summary-stats > div {
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.exercise-summary .summary-stats .stats-type {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.exercise-summary .summary-stats div.correct {
    background-color: #EEF9F6;
}
.exercise-summary .summary-stats div.wrong {
    background-color: #FFF2F0;

}
.exercise-summary .summary-stats div.skipped {
    background-color: #EFEFEF;
}
.exercise-summary .summary-stats .stats-icon {
    height: 50px;
}
.exercise-summary .summary-stats .stats-amount {
    font-size: 48px;
}
